<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- TODO: change the "Users" below to "Client" in DB -->
<mapper namespace="com.ims.mapper.ClientMapper">
    <select id="emailExists" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM Users
        WHERE email = #{email}
    </select>

    <insert id="insert">
        INSERT INTO Users (email, password)
        VALUES (#{email}, #{password})
    </insert>

    <select id="getClient" resultType="com.ims.entity.Client">
        SELECT email, password
        FROM Users
        WHERE email = #{email}
    </select>
    
    <delete id="testDeleteByEmail">
        DELETE
        FROM Users
        WHERE email = #{email}
    </delete>

</mapper>