<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ims.mapper.ItemMapper">
    <resultMap id="itemMap" type="Item">
        <id property="itemId" column="item_id"/>
        <result property="clientId" column="client_id"/>
        <result property="name" column="name"/>
        <result property="currentStockLevel" column="current_stock_level"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="barcode" column="barcode"/>
    </resultMap>

    <select id="getItemByItemId" resultMap="itemMap" parameterType="int">
        SELECT item_id, client_id, name, current_stock_level, description, price, barcode
        FROM Items
        WHERE item_id = #{itemId}
    </select>

    <select id="getItemsByClientId" resultMap="itemMap">
        SELECT *
        FROM Items
        WHERE client_id = #{clientId}
    </select>

    <insert id="insert" parameterType="Item" useGeneratedKeys="true" keyProperty="itemId" keyColumn="item_id">
        INSERT INTO Items (item_id, client_id, name, current_stock_level, description, price, barcode)
        VALUES (#{itemId}, #{clientId}, #{name}, #{currentStockLevel}, #{description}, #{price}, #{barcode})
    </insert>

    <update id="update" parameterType="Item">
        UPDATE Items
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="currentStockLevel != null">
                current_stock_level = #{currentStockLevel},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="barcode != null">
                barcode = #{barcode},
            </if>
        </set>
        WHERE item_id = #{itemId}
    </update>

    <select id="getReorderItem" resultMap="itemMap">
        SELECT *
        FROM Items
        WHERE current_stock_level &lt;= 5
    </select>

    <update id="updateStock" parameterType="orderDetail">
        UPDATE Items
        SET current_stock_level = current_stock_level - #{quantity}
        WHERE item_id = #{itemId}
    </update>

</mapper>