<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ims.mapper.OrderDetailMapper">
    <resultMap id="orderDetailMap" type="OrderDetail">
        <id property="orderId" column="order_id"/>
        <result property="itemId" column="item_id"/>
        <result property="locationId" column="location_id"/>
        <result property="quantity" column="quantity"/>
        <result property="amount" column="amount"/>
        <result property="dueDate" column="due_date"/>
    </resultMap>

    <select id="retrieveOrderDetailByOrderId" resultMap="orderDetailMap">
        SELECT order_id, item_id, location_id, quantity, amount, due_date
        FROM OrderDetail
        WHERE order_id = #{orderId}
    </select>


    <select id="retrieveOrderDetailByItemId" resultMap="orderDetailMap">
        SELECT order_id, item_id, location_id, quantity, amount, due_date
        FROM OrderDetail
        WHERE item_id = #{itemId}
    </select>

    <insert id="insert" parameterType="OrderDetail" useGeneratedKeys="true" keyProperty="orderId" keyColumn="order_id">
        INSERT INTO OrderDetail (order_id, item_id, location_id, quantity, amount, due_date)
        VALUES (#{orderId}, #{itemId}, #{locationId}, #{quantity}, #{amount}, #{dueDate})
    </insert>

    <update id="update" parameterType="OrderDetail">
        UPDATE OrderDetail
        <set>
            <if test="itemId != null">
                item_id = #{itemId},
            </if>
            <if test="locationId != null">
                location_id = #{locationId},
            </if>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="dueDate != null">
                due_date = #{dueDate},
            </if>
        </set>
        WHERE order_id = #{orderId}
    </update>

    <delete id="delete">
        DELETE FROM OrderDetail WHERE order_id = #{orderId}
    </delete>

    <select id="getReturnAlertItem" resultMap="orderDetailMap">
        SELECT *
        FROM OrderDetail
        WHERE due_date &gt;= CURRENT_DATE AND due_date &lt;= DATE_ADD(CURRENT_DATE, INTERVAL 2 DAY);
    </select>

    <select id="getExpirationAlertItem" resultMap="orderDetailMap">
        SELECT *
        FROM OrderDetail
        WHERE due_date &lt; CURRENT_DATE;
    </select>

    <select id="retrieveOrderDetailById" resultMap="orderDetailMap">
        SELECT order_id, item_id, location_id, quantity, amount, due_date
        FROM OrderDetail
        WHERE order_id = #{orderId} AND item_id = #{itemId} AND location_id = #{locationId}
    </select>
</mapper>
